<div class="sub-menu">
  <div class="wide-container">
    <div class="mobile-heading">
      <h1>Product List</h1>
    </div>
    <nav class="navbar ">
      <h2 class="pull-left spacing-3">Product List</h2>
    </nav>
  </div>
</div>
<div class="content-cover ">
  <div class="tab-content" style="padding: 2em">
    <!-- <app-products [stores]="store" [products]="prodcutArr"></app-products> -->
    <app-productsuser [store]="store" [products]="prodcutArr"></app-productsuser>

   
  </div>
</div>
