<div class="modal-header">
  <button type="button" class="close" (click)="dismiss()" >&times;</button>
  <h4>Create a new system user</h4>
</div>
<div class="modal-body">
  <div class="form">
    <div class="form-group" [class.has-error]="!firstNameCntrl.valid">
      <input type="text" class="form-control" [(ngModel)]="userObj.firstName" [formControl]="firstNameCntrl">
      <label>First Name</label>
      <div class="validation-messege error" *ngIf="!firstNameCntrl.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> First Name Is Required
      </div>
    </div>

    <div class="form-group" [class.has-error]="!lastNameCntrl.valid">
      <input type="text" class="form-control" [(ngModel)]="userObj.lastName" [formControl]="lastNameCntrl">
      <label>Last Name</label>
      <div class="validation-messege error" *ngIf="!lastNameCntrl.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Last Name Is Required
      </div>
    </div>

    <div class="form-group" [class.has-error]="!emailCntrl.valid">
      <input type="text" class="form-control" [(ngModel)]="userObj.email" [formControl]="emailCntrl">
      <label>Official Email Address</label>
      <div class="validation-messege error" *ngIf="!emailCntrl.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Email Address Is Required
      </div>
    </div>

    <div class="form-group" [class.has-error]="!mobileCntrl.valid">
      <input type="text" class="form-control" [(ngModel)]="userObj.mobileNo" [formControl]="mobileCntrl">
      <label>Mobile No.</label>
      <div class="validation-messege error" *ngIf="!mobileCntrl.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Mobile Number Is Required
      </div>
    </div>

    <div class="form-group" *ngIf="_me.userType === 'swyftr'">
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
          {{userObj.userType || 'User Type'}} <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem" *ngFor="let userType of userTypeArr" (click)="onUserTypeChange(userType)">
            <a class="dropdown-item" >{{userType.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group" [class.has-error]="!nicCntrl.valid">
      <input type="text" class="form-control" [(ngModel)]="userObj.nic" [formControl]="nicCntrl">
      <label>NIC</label>
      <div class="validation-messege error" *ngIf="!nicCntrl.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> NIC Is Required
      </div>
    </div>

    <div class="form-group" *ngIf="_me.userType === 'swyftr' && userObj.userType && userObj.userType !== 'swyftr'">
      <ng-select
        [allowClear]="false" [items]="getOrgArray()" placeholder="Organization User Works For" (selected)="onOrganizationSelected($event.id)">
      </ng-select>
    </div>

    <div class="form-group" [class.has-error]="!designationCntrl.valid">
      <input type="text" class="form-control" [(ngModel)]="userObj.designation" [formControl]="designationCntrl">
      <label>Designation</label>
      <div class="validation-messege error" *ngIf="!designationCntrl.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Designation Is Required
      </div>
    </div>

    <div class="form-group" [class.has-error]="!addressCntrl.valid">
      <input type="text" class="form-control" [(ngModel)]="userObj.address" [formControl]="addressCntrl">
      <label>Address</label>
      <div class="validation-messege error" *ngIf="!addressCntrl.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Address Is Required
      </div>
    </div>

    <div class="button-row right-align">
      <button type="submit" *ngIf="!createButtonClicked" class="btn btn-default form-buttons inline-btn" (click)="createSystemUser()" >Create</button>
      <button type="submit" *ngIf="createButtonClicked" class="btn btn-default form-buttons inline-btn">
        <i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> Creating User...
      </button>
      <button type="submit" class="btn btn-danger form-buttons inline-btn" (click)="dismiss()" >Cancel</button>
    </div>
  </div>
</div>
