<div class="modal-header">
  <button type="button" class="close" (click)="dismiss()" >&times;</button>
  <h4>Assign Rider To Order #{{order.orderId}}</h4>
</div>
<div class="modal-body">
  <div class="form">

    <div class="form-group" >
      Order #
      <input type="text" class="form-control" value="{{order.orderId}}" disabled >
    </div>

    <div class="btn-group" dropdown>
      Rider<br/>
      <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
        {{selectedRider ? selectedRider.firstName + ' ' + selectedRider.lastName : 'Riders Within 10km Distance To Store'}}
        <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" *ngFor="let rider of riderArr" (click)="onRiderSelected(rider)">
          <a class="dropdown-item" >{{rider.firstName}} {{rider.lastName}} | {{rider.distanceToOrderPickup/1000}} KM</a>
        </li>
      </ul>
    </div>

    <div class="button-row right-align">
      <button type="submit" *ngIf="!assignRiderClicked" class="btn btn-default form-buttons inline-btn" (click)="assignRider()" >Update</button>
      <button type="submit" *ngIf="assignRiderClicked" class="btn btn-default form-buttons inline-btn" >
        <i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> Updating Order...
      </button>
      <button type="submit" class="btn btn-danger form-buttons inline-btn" (click)="dismiss()" >Cancel</button>
    </div>
  </div>
</div>
