<div class="sub-menu">
  <div class="wide-container">
    <div class="mobile-heading">
      <h1>Partner management</h1>
    </div>

    <nav class="navbar ">
      <h2 class="pull-left spacing-3">Partners</h2>
      <a class="btn btn-primary pull-right spacing-3" (click)="openCreatePartnerModel()" >Create Partner</a>
    </nav>
  </div>
</div>
<div class="content-cover ">
  <div class="wide-container ">
    <div class="page-title">
      <div class="clearfix"> </div>
    </div>
    <div class="tabs-cover">
      <table datatable id="example" class="display table table-striped table-responsive" cellspacing="0" width="100%">
        <thead  class="plain">
        <tr>
          <th></th>
          <th>Company Name</th>
          <th>Partner Type</th>
          <th>Head Office Address</th>
          <th>Head Office Phone</th>
          <th>Point Of Contact Name</th>
          <th>Point Of Contact Mobile</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let partner of partnersArray">
          <th class="org-logo">
            <div *ngIf="!partnerLogos[partner.orgId]" class="image"> </div>
<img class="image" *ngIf="partnerLogos[partner.orgId]" src="uploads/{{partnerLogos[partner.orgId].fileGivenName}}"  />
  <!-- <img class="image" *ngIf="partnerLogos[partner.orgId]" src="data:{{partnerLogos[partner.orgId].fileType}};base64,{{partnerLogos[partner.orgId].data}}" /> -->
          </th>
          <td>{{partner.name}}</td>
          <td>{{getPartnerType(partner)}}</td>
          <td>{{partner.headOfficeAddress}}</td>
          <td>{{partner.headOfficeContactNo}}</td>
          <td>{{partner.pointOfContactName}}</td>
          <td>{{partner.pointOfContactMobile}}</td>
          <td>
            <div class="btn-group action-panel">
              <button *ngxPermissionsOnly="['SUPER_USER_SWYFTR', 'VIEW_PARTNERS', 'MANAGE_PARTNERS']" type="button" class="btn btn-success delete-user" (click)="viewPartnerProfile(partner)">
                <i class="fa fa-building" aria-hidden="true"></i> View
              </button>
              <button *ngxPermissionsOnly="['SUPER_USER_SWYFTR', 'MANAGE_PARTNERS']" type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-Partner" (click)="openUpdatePartnerModel(partner)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
              </button>
              <button type="button" class="btn btn-danger" data-target="#deactivate-Partner" (click)="openDeactivatePartnerModel(partner)">
                <i class="fa fa-ban" aria-hidden="true"></i>Deactivate
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
