<div class="wrapper">
  <div class="login-page get-height">
    <div class="login-form panel panel-default">
      <div class="panel-body form text-center">
        <div class="logo-cover">
          <img src="img/logo.png" />
        </div>
        <div class="heading">
          <h5>Rest Password</h5>
        </div>

        <div class="form-group" [class.has-error]="!passwordContrl.valid">
          <input type="password" class="form-control" [(ngModel)]="password" [formControl]="passwordContrl">
          <div class="validation-messege error" *ngIf="!passwordContrl.valid">
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Password is required
          </div>
        </div>

        <div class="form-group" [class.has-error]="!retypePasswordContrl.valid">
          <input type="password" class="form-control" [(ngModel)]="retypePassword" [formControl]="retypePasswordContrl">
          <div class="validation-messege error" *ngIf="!retypePasswordContrl.valid">
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Retype password is not equal to password
          </div>
        </div>

        <button type="button" *ngIf="!isSendButtonClicked" (click)="resetPassword()" class="btn btn-primary btn-block">Reset Password</button>
        <button type="button" *ngIf="isSendButtonClicked" class="btn btn-primary btn-block">
          <i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> Connecting...
        </button>
        <button type="button" (click)="back()" class="btn btn-primary btn-block">Cancel</button>
      </div>
    </div>
  </div>
</div>
