<div class="modal-header">
  <button type="button" class="close" (click)="dismiss()" >&times;</button>
  <h4>Create a new store for '{{partnerName}}'</h4>
</div>
<div class="modal-body">
  <div class="form">
    <div class="form-group" [class.has-error]="!branchName.valid">
      <input type="text" class="form-control" [(ngModel)]="store.branchName" [formControl]="branchName">
      <label>Store Name</label>
      <div class="validation-messege error" *ngIf="!branchName.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Store Name Is Required
      </div>
    </div>

    <div class="form-group">
      <h4>Branch Location</h4>
      <app-map-marker (onLocationMarked)="onLocationMarked($event)" [center]="'Colombo, Sri Lanka'" ></app-map-marker>
      <div class="validation-messege error" *ngIf="!store.latitude || !store.longitude">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Mark store on the map
      </div>
    </div>

    <div class="form-group" [class.has-error]="!address.valid">
      <input type="text" class="form-control" [(ngModel)]="store.address" [formControl]="address">
      <label>Store Address</label>
      <div class="validation-messege error" *ngIf="!address.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Store Address Is Required
      </div>
    </div>

    <div class="form-group" [class.has-error]="!province.valid">
      <input type="text" class="form-control" [(ngModel)]="store.province" [formControl]="province">
      <label>District</label>
      <div class="validation-messege error" *ngIf="!province.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Province Is Required
      </div>
    </div>

    <div class="form-group" [class.has-error]="!district.valid">
      <input type="text" class="form-control" [(ngModel)]="store.district" [formControl]="district">
      <label>Province</label>
      <div class="validation-messege error" *ngIf="!district.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> District Is Required
      </div>
    </div>

    <div class="form-group" [class.has-error]="!phone.valid">
      <input type="text" class="form-control" [(ngModel)]="store.phone" [formControl]="phone">
      <label>Phone Number</label>
      <div class="validation-messege error" *ngIf="!phone.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Phone Number Is Required
      </div>
    </div>

    <div class="form-group">
      <ng-select
        [allowClear]="false" [items]="empArr" placeholder="Select Store Manager" (selected)="onStorManagerSelected($event.id)">
      </ng-select>
    </div>

    <div class="button-row right-align">
      <button type="submit" *ngIf="!createButtonClicked" class="btn btn-default form-buttons inline-btn" (click)="createStore()" >Create</button>
      <button type="submit" *ngIf="createButtonClicked" class="btn btn-default form-buttons inline-btn">
        <i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> Creating Store...
      </button>
      <button type="submit" class="btn btn-danger form-buttons inline-btn" (click)="dismiss()" >Cancel</button>
    </div>
  </div>
</div>
