<div class="modal-header">
  <button type="button" class="close" (click)="dismiss()" >&times;</button>
  <h4>Update Password</h4>
</div>
<div class="modal-body">
  <div class="form">
    <div class="form-group" [class.has-error]="!oldPasswordFormCntrl.valid">
      <input type="password" class="form-control" [(ngModel)]="updatePasswordObj.oldPassword" [formControl]="oldPasswordFormCntrl">
      <label>Old Password</label>
      <div class="validation-messege error" *ngIf="!oldPasswordFormCntrl.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Old password is required
      </div>
    </div>

    <div class="form-group" [class.has-error]="!newPasswordFormCntrl.valid">
      <input type="password" class="form-control" [(ngModel)]="updatePasswordObj.newPassword" [formControl]="newPasswordFormCntrl">
      <label>New Password</label>
      <div class="validation-messege error" *ngIf="!newPasswordFormCntrl.valid">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> New password is required
      </div>
    </div>

    <div class="form-group" [class.has-error]="!retrypeNewPasswordFormCntrl.valid">
      <input type="password" class="form-control" [(ngModel)]="updatePasswordObj.retypePassword" [formControl]="retrypeNewPasswordFormCntrl">
      <label>Retype New Password</label>
      <div class="validation-messege error" *ngIf="retrypeNewPasswordFormCntrl.errors && retrypeNewPasswordFormCntrl.errors['required']">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> Retype new password is required
      </div>
      <div class="validation-messege error" *ngIf="retrypeNewPasswordFormCntrl.errors && retrypeNewPasswordFormCntrl.errors['retypePassword']">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> New password should match with retype new password
      </div>
    </div>

    <div class="button-row right-align">
      <button type="submit" *ngIf="!saveButtonClicked" class="btn btn-default form-buttons inline-btn" (click)="updatePassword()" >Save</button>
      <button type="submit" *ngIf="saveButtonClicked" class="btn btn-default form-buttons inline-btn">
        <i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> Updating Password...
      </button>
      <button type="submit" class="btn btn-danger form-buttons inline-btn" (click)="dismiss()" >Cancel</button>
    </div>
  </div>
</div>
