.piechart-section {
    padding: 30px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 6px;
    float: left;
    width: 100%;
}
.barchart-section {
    padding: 30px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    height: 400px;
}

  p {
    font-family: Lato;
    font-size: 20px;
  }
