.wide-container {
	
	margin: 0 auto;
	padding: 0 30px;
}
.wrapper{
		background: #F5F5F5;
}
.content-cover {


}



.get-height{
	min-height: 100vh;
}
.tab-content > .tab-pane{
	padding-left: 30px;
}	

.profile-data{
	.tab-pane{
		padding-left: 0;
	}	
}
.user-name h3{
	font-size: 25px;
}